body {
  color: #333;
  font-family: Arial,sans;
  max-width: 960px;
  margin: 0px auto;
  line-height: 1.3em;
}
em {
  color: #888;
}
img {
  width: 100%;
}

@media (max-width: 900px) {
  body { font-size: 120%; }
}